*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.menu{
	text-align: center;
	margin-bottom: 30px;
}
.container{
	
	top: 60px;
	margin: 15px;
}
.content{
	background-color: rgb(209, 208, 203);
	position: relative;
	top: 0;
	margin: 15px;
	padding: 30px;
	border: 3px solid #000;
	text-align: justify;
}
.title{
	position: absolute;
	top: 0;
	right: 0px;
	padding: 4px 80px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
}
.title1{
	background-color: rgb(247, 194, 119);
}
.title2{
	background-color: rgb(231, 185, 240);
}
.title3{
	background-color: rgb(143, 242, 212);
}
@media(min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 24.99%;
	}
	.col-lg-4{
		width: 33.32%;
	}
	.col-lg-5{
		width: 41.65%;
	}
	.col-lg-6{
		width: 49.98%;
	}
	.col-lg-7{
		width: 58.31%;
	}
	.col-lg-8{
		width: 66.64%;
	}
	.col-lg-9{
		width: 74.97%;
	}
	.col-lg-10{
		width: 83.3%;
	}
	.col-lg-11{
		width: 91.63%;
	}
	.col-lg-12{
		width: 100%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-lg-4{
		float: left;
		width: 50%;
	}
	.tablet{
		width: 100%;
		float: left;
	}
}
@media(max-width: 767px){
	.col-lg-4{
		width: 100%;
		float: left;
	}
}